
section{
    margin-top: 100px;
}

  article{
    
    padding: 10px;
    float:left;
    width:65%;
    font-size: 18px;
}

#aboutus li{
    list-style-type: none;
    padding: 20px;
    margin-bottom: 10px;
    background: #e6e6e6;
}
aside{
    float:right;
    width: 35%;
    margin-top:75px;
}
.darkabout{
    padding:10px 20px 10px 20px;
    background:#35424a;
    color:#ffffff;
    margin-right: 30px;
   
 
  }
  .quote input, .quote textarea{
    width: 90%;
    padding: 5px;
    margin-bottom: 5px;
    margin-top: 20px;
    font-size: 20px;
}


.button_1{
    height: 38px;
    width:30%;
    background: yellow;
    padding-left: 20px;
    padding-right: 20px;
    
}
section:after {
    content: "";
    display: table;
    clear: both;
  }

