

  .header{
    border-bottom : yellow 3px solid;
    margin-bottom: 50px;
  }
  .responsive {
    width: 100%;
    height : auto;
  }
  .title {
	font-size: 40px;
	text-align: center;
	font-family: comic;
}
  .grid-container {
    display: grid;
    grid-row-gap: 40px;
  }
  .grid-container > div {
   background-color : white;
    text-align: justify;
    padding: 20px 20px 0px 20px;
font-size: 20px;
  }

  