
  .title {
      margin-top:80px;
	font-size: 40px;
	text-align: center;
	font-family: comic;
}

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap: 10px;
    grid-column-gap: 10px;

  }

  .grid-container > div {
    background-color : white;
    text-align: justify;
    padding: 20px 20px 0px 20px;
font-size: 20px;
  }
  
  .grid-item1 {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .grid-item3 {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .grid-item5 {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  
  .flex-container {
    display: flex;
    flex-direction: row;
    height:350px;
  }
  
  .flex-container > div {
    background-color: white;
    width: 100%;
    margin: 10px;
   
    
   
  }
