.header{
    border-bottom : yellow 3px solid;
    margin-bottom: 50px;
  }
  .responsive {
    width: 100%;
    height : auto;
  }
  
  .rounded{
    border-radius: 50%;
}

.table{
    overflow:hidden;
}